@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/* CRED HASSE */
:root{
    --color-theme: #20D3C2;
    --color-theme-light: #EDFCFA;
    --color-theme-dark: #0E153D;
    --color-dark: #080C24;
    --color-white: #FFFFFF;
    --color-gray-0: #AAAAAA;
    --color-gray-1: #CCCCCC;
    --color-gray-2: #E3E3E3;
    --color-gray-3: #FFFFFF;
    --color-gray-4: #F6F6F6;
    --color-prod-instock: #82D8C6;
    --color-prod-outofstock: #FE6C6C;

    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.50rem;
    --font-size-24: 2rem;
    --font-size-36: 3rem;
    --font-size-60: 5rem;

    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;
}

/* GENERAL */

* > .fa-hover-show,
*:hover > .fa-hover-hidden {
  display: none;
}
*:hover > .fa-hover-show {
  display: inline-block;
}

html, body{
    font-family: var(--font-roboto);
    line-height: 1.5;
    font-size: 16px;
    font-weight: var(--font-weight-regular);
}

a{
    text-decoration: none;
}

/* TOP MENU */
.navbar-custom{
    background: #20D3C2;
}

    .navbar-custom > .container{
        height: 40px;
    }

    .navbar-custom .navbar-nav{
        justify-content: start;
        height: 100%;
    }

        .navbar-custom .navbar-nav .btn-languages{
            display: flex;
        }

    .navbar-custom .navbar-nav .dropdown-theme button{
        background-color: var(--color-theme);
        color: var(--color-white);
        border: none;
    }

        .navbar-custom .navbar-nav .dropdown-theme button:hover{
            color: var(--color-theme-dark);
        }

        .navbar-custom .navbar-nav .dropdown-theme .dropdown-menu{
            background-color: var(--color-theme);
            color: var(--color-white);
        }
    
            .navbar-custom .navbar-nav .dropdown-theme .dropdown-menu .dropdown-item{
                color: var(--color-white);
            }
            
                .navbar-custom .navbar-nav .dropdown-theme .dropdown-menu .dropdown-item:hover{
                    background-color: var(--color-theme-dark);
                }

    .navbar-custom .navbar-nav .navbar-links, .navbar-custom .navbar-nav .navbar-social{
        color: var(--color-white);
    }

        .navbar-custom .navbar-nav .navbar-links:hover, .navbar-custom .navbar-nav .navbar-social:hover{
            color: var(--color-theme-dark);
        }

    .navbar-custom .navbar-nav .navbar-social{
        font-size: var(--font-size-14);
    }




/* 

LOGO AND ACCOUNT LINKS
Testing flex properties to arrange items

*/
.header .header-nav{
    display: flex;
    height: 105px;
    justify-content: space-between;
    align-items: center;
}

    .header .header-nav .header-logotype{
        flex: 2.5;
    }

    .header .header-nav .header-account{
        display: flex;
        justify-content: space-between;
        flex: 1;
    }

        .header .header-nav .header-account .header-user{
            flex: 0.1;
        }

            .header .header-nav .header-account .header-user > a{
                color: #0E153D;
            }

        .header .header-nav .header-account .header-user .header-nav-hover-dark:hover{
            color: #20D3C2;
        }

#header-user-myaccount{
    flex: 0.5;
}


/* BROWSE OCH SPECIAL OFFER */
.section {
    height: 52px;
    border-top: 1px solid rgba(211, 211, 211, 0.5);
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

    .section .buttons-section{
        display: flex;
        justify-content: space-between;
        line-height: 50px;
    }

        .section .buttons-section .browse-categories{
            display: flex;
        }

            .section .buttons-section .browse-categories .browse-link{
            display: flex;
            justify-content: left;
            background-color: #20D3C2;
            color: #ffffff;
            width: 255px;
            text-decoration: none;
            padding: 0 15px;
            }

                .section .buttons-section .browse-categories .browse-link:hover{
                    background-color: #0E153D;
                }

            .section .buttons-section .browse-categories .browse-link .browse-bars{
                flex: 0;
                font-size: x-large;
                margin-right: 10px;
            }

            .section .buttons-section .browse-categories .browse-link .browse-text{
                flex: 1;
            }

            .section .buttons-section .browse-categories .browse-link .browse-arrow{
                flex: 0;
            }

    .section .buttons-section .special-offer{
        display: flex;
        background-color: #20D3C2;
        border-radius: 25px;
        width: 156px;
        justify-content: center;
    }

        .section .buttons-section .special-offer:hover{
            background-color: #0E153D;
        }

    .section .buttons-section .special-offer .special-text{
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
    }

