@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root{
    --color-theme: #20D3C2;
    --color-theme-light: #EDFCFA;
    --color-theme-dark: #0E153D;
    --color-dark: #080C24;
    --color-white: #FFFFFF;
    --color-gray-0: #AAAAAA;
    --color-gray-1: #CCCCCC;
    --color-gray-2: #E3E3E3;
    --color-gray-3: #FFFFFF;
    --color-gray-4: #F6F6F6;
    --color-prod-instock: #82D8C6;
    --color-prod-outofstock: #FE6C6C;

    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.50rem;
    --font-size-24: 2rem;
    --font-size-36: 3rem;
    --font-size-60: 5rem;

    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.navbar-custom{
    background: #20D3C2;
    height: 40px;
}

.navbar-social-link:hover, .navbar-hover:hover{
    color: #0E153D;
}

.navbar-nav{
    justify-content: start;
    height: 40px;
}

/* LOGO AND ACCOUNT LINKS */
.header-nav{
    display: flex;
    height: 105px;
    justify-content: space-between;
    align-items: center;
}

.header-logotype{
    flex: 2.5;
}

.header-account{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.header-user{
    flex: 0.1;
}

    .header-user > a{
        color: #0E153D;
    }

    .header-nav-hover-dark:hover{
        color: #20D3C2;
    }

.fa-regular{
    margin-right: 10px;
}

#header-user-myaccount{
    flex: 0.5;
}

/* BROWSE OCH SPECIAL OFFER */
.section {
    height: 52px;
    border-top: 1px solid rgba(211, 211, 211, 0.5);
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

.buttons-section{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

.browse-categories{
    display: flex;
}

.browse-link{
    display: flex;
    justify-content: left;
    background-color: #20D3C2;
    color: #ffffff;
    width: 255px;
    text-decoration: none;
    padding: 0 15px;
}

    .browse-link:hover{
        background-color: #0E153D;
    }

.browse-bars{
    flex: 0;
    font-size: x-large;
    margin-right: 10px;
}

.browse-text{
    flex: 1;
}

.browse-arrow{
    flex: 0;
}

.special-offer{
    display: flex;
    background-color: #20D3C2;
    border-radius: 25px;
    width: 156px;
    justify-content: center;
}

    .special-offer:hover{
        background-color: #0E153D;
    }

.special-text{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

